@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";

a {
  text-decoration: none;
}

.app,
.app_modal {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;

  background: var(--background-color);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  border: 2px solid var(--primary-color);
  border-radius: 20px;

  background-color: var(--inverted-primary-color);
}
