@import 'reset.scss';
@import './variables/global.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

.app {
  font: var(--font-m);

  background: var(--background-color);
  color: var(--primary-color);

  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: 20px;
  flex-grow: 1;
}