.link {
  opacity: 1;
}

.item {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    width: 0;

    opacity: 0;

    transition: 0.2s opacity;
  }
}
