.app_dark_theme {
  --background-color: rgb(14 14 87);
  --inverted-background-color: rgb(194 194 203);
  --primary-color: #26a626;
  --secondary-color: rgb(2 137 2);
  --inverted-primary-color: rgb(0 33 255);
  --inverted-secondary-color: rgb(15 92 185);

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #0b0b73;

  // card
  --card-bg: rgb(24 24 143);
}
