.app.dark {
  --background-color: rgb(14, 14, 87);
  --inverted-background-color: rgb(194, 194, 203);

  --primary-color: #26a626;
  --secondary-color: rgb(11, 88, 11);

  --inverted-primary-color: rgb(10, 23, 106);
  --inverted-secondary-color: rgb(35, 155, 215);
}