:root {
  --background-color: rgb(194 194 203);
  --inverted-background-color: rgb(14 14 87);
  --primary-color: rgb(0 33 255);
  --secondary-color: rgb(15 92 185);
  --inverted-primary-color: #26a626;
  --inverted-secondary-color: rgb(2 137 2);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #ececec;
}
