.Navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;

  background: var(--inverted-background-color);
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.createBtn {
  font: var(--font-m);
}
